{%extends "base2.html"%}
{%block title%}Formulario{%endblock%}
{%block extra_head%}
<link rel="stylesheet" href="/files/css/chosen.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="/files/js/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery(document).ready(function(){
  jQuery(".chosen").chosen();
}); 
</script>

<script>
  $(function() {
    $( "#id_fecha_fundacion" ).datepicker({ dateFormat: 'dd/mm/yy', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNamesShort: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],changeMonth: true, changeYear: true});
  });
  </script>

{%endblock%}
{%block content%}
<div  style="padding:15px;">
    <div class="text_hform">Agregar Organizaciones</div>
<form action="." method="POST" accept-charset="utf-8">
  {% csrf_token %}
  {{form.errors}}
  {{ form.creado_por }}

  <div class="boxdiv">
      <span class="textform">{{ form.nombre.label_tag }}</span><br/><br/>
      {{ form.nombre }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.tipo.label_tag }}</span><br/><br/>
      {{ form.tipo }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.descripcion.label_tag }}</span><br/><br/>
      {{ form.descripcion }}
  </div>

<div class="boxdiv_1">
      <span class="textform">{{ form.municipio.label_tag }}</span><br/><br/>
      <div class="form-auto">{{ form.municipio }}</div>
  </div>


<div class="boxdiv">
      <span class="textform">{{ form.representante.label_tag }}</span><br/><br/>
      {{ form.representante }}
  </div>

<div class="boxdiv">
      <span class="textform">{{ form.celular_repre.label_tag }}</span><br/><br/>
      {{ form.celular_repre }}
  </div>

<div class="boxdiv">
      <span class="textform">{{ form.correo_repre.label_tag }}</span><br/><br/>
      {{ form.correo_repre }}
  </div>

<div class="boxdiv">
      <span class="textform">{{ form.gerente.label_tag }}</span><br/><br/>
      {{ form.gerente }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.celular_gerente.label_tag }}</span><br/><br/>
      {{ form.celular_gerente }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.correo_gerente.label_tag }}</span><br/><br/>
     {{ form.correo_gerente }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.fecha_fundacion.label_tag }}</span><br/><br/>
     {{ form.fecha_fundacion }}
  </div>

<div id="agregar" class="boton_guardar">
<p><input type="submit" value="Guardar" ></p>
</div>

</form>
</div>
{%endblock%}
