{%extends "base2.html"%}
{%block title%}Formulario{%endblock%}
{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#id_fecha" ).datepicker();
  });
  </script>
 
{% endblock extra_head %}
{%block content%}
<div  style="padding:15px;">
<form action="." method="POST" accept-charset="utf-8">

  {% csrf_token %}
  {{form.as_p}}
<div id="agregar" class="boton_guardar">
<p><input type="submit" value="Continue &rarr;"></p>
</div>
</form>
</div>
{%endblock%}
