{%extends "base2.html"%}
{%block title%}Editar Organización{%endblock%}
{%block content%}
<div  style="padding:15px;">
<form action="." method="POST" accept-charset="utf-8">
  {% csrf_token %}
  {{form.errors}}
  {{ form.creado_por }}
<div class="boxdiv">
      <span class="textform">{{ form.nombre.label_tag }}</span><br/><br/>
      {{ form.nombre }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.tipo.label_tag }}</span><br/><br/>
      {{ form.tipo }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.descripcion.label_tag }}</span><br/><br/>
      {{ form.descripcion }}
  </div>

<div class="boxdiv_1">
      <span class="textform">{{ form.municipio.label_tag }}</span><br/><br/>
       <div class="form-auto">{{ form.municipio }}</div>
  </div>


<div class="boxdiv">
      <span class="textform">{{ form.representante.label_tag }}</span><br/><br/>
      {{ form.representante }}
  </div>

<div class="boxdiv">
      <span class="textform">{{ form.celular_repre.label_tag }}</span><br/><br/>
      {{ form.celular_repre }}
  </div>

<div class="boxdiv">
      <span class="textform">{{ form.correo_repre.label_tag }}</span><br/><br/>
      {{ form.correo_repre }}
  </div>

<div class="boxdiv">
      <span class="textform">{{ form.gerente.label_tag }}</span><br/><br/>
      {{ form.gerente }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.celular_gerente.label_tag }}</span><br/><br/>
      {{ form.celular_gerente }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.correo_gerente.label_tag }}</span><br/><br/>
     {{ form.correo_gerente }}
  </div>

  <div class="boxdiv">
      <span class="textform">{{ form.fecha_fundacion.label_tag }}</span><br/><br/>
     {{ form.fecha_fundacion }}
  </div>

<div id="agregar" class="boton_guardar">
<p><input type="submit" value="Guardar" ></p>
</div>
</form>
</div>
{%endblock%}
