{%extends "base2.html"%}
{%load clasificador %}
{%block title%}Extra informacion{%endblock%}
{%block extra_head%}
{%endblock%}
{%block content%}
<div  style="padding:15px;">
    <h2 class="left">Agregar extra informacion</h2>
    <br>
    <form action="." method="POST" id="encuesta">
      {% csrf_token %}
      <h2>Participantes hombres mujeres</h2>
      {{form1.management_form}}
          {%for fila in form1.forms%}
            {{ fila.integradas }}{{ fila.hombres }}{{ fila.mujeres }} <br>
          {%endfor%}
      <h2>Rubros manejados</h2>
      {{form2}}<br>
      <h2>Frecuencia de sesiones</h2>
      {{form3.management_form}}
          {%for fila in form3.forms%}
            {{ fila.tipos }} {{ fila.respuesta }} <br>
          {%endfor%}
    <input type="submit" value="Agregar">
    </form>
    <div class="separador"></div>
</div>
{%endblock%}
