{%extends "base2.html"%}
{%load clasificador %}
{%block title%}Extra informacion{%endblock%}
{%block extra_head%}
{%endblock%}
{%block content%}
<div  style="padding:15px;">
    <h2 class="left">Agregar extra informacion</h2>
    <br>
    <form action="." method="POST" id="encuesta">
      {% csrf_token %}
     <div class="info_extra"> {{form1.management_form}}
          {%for fila in form1.forms%}
            {{ fila }}<br>
          {%endfor%}</div>
      {{form2.as_p}}
      {{form3.management_form}}
          {%for fila in form3.forms%}
            {{ fila }}<br>
          {%endfor%}
    <input type="submit" value="Agregar">
    </form>
    <div class="separador"></div>
</div>
{%endblock%}
