{% extends "base2.html" %}
{%block title%}Organizacion{%endblock%}
{% block content %}
<div style="padding:15px;">
<a style="margin-left:7px; width:130px;display:block;" class="der" href="{% url crear-organizacion%}"><div class="boton_org">Nueva</div></a>
<a style="margin-left:7px; width:130px;display:block;" class="der" href="{% url organizaciones %}"><div class="boton_org">Lista</div></a>
<a style="margin-left:7px; width:130px;display:block;" class="der" href="{% url editar-organizacion object.id %}"><div class="boton_org">Editar</div></a>

<div class="separador"></div>
<br>
    <div class="tabla">
             <table class="table table-hover">

              <tr>
                  <td><b>Nombre</b></td>
                  <td>{{ object }}</td>
              </tr>
              <tr>
                  <td><b>Descripcion</b></td>
                  <td>{{ object.descripcion }}</td>
              </tr>
              <tr>
                  <td><b>Tipo</b></td>
                  <td>{{ object.get_tipo_display }}</td>
              </tr>
              <tr>
                  <td><b>Municipio</b></td>
                  <td>{{ object.municipio }}</td>
              </tr>
              <tr>
                  <td><b>Representante</b></td>
                  <td>{{ object.representante }}</td>
              </tr>
              <tr>
                  <td><b>Celular representante</b></td>
                  <td>{{ object.celular_repre }}</td>
              </tr>
              <tr>
                  <td><b>Correo representante</b></td>
                  <td>{{ object.correo_repre }}</td>
              </tr>
              <tr> 
                  <td><b>Gerente</b></td>
                  <td>{{ object.gerente }}</td>
              </tr>
              <tr>
                  <td><b>Celular gerente</b></td>
                  <td>{{ object.celular_gerente }}</td>
              </tr>
              <tr>
                  <td><b>Correo gerente</b></td>
                  <td>{{ object.correo_gerente }}</td>
              </tr>
              <tr>
                  <td><b>Fecha de fundación</b></td>
                  <td>{{ object.fecha_fundacion }}</td>
              </tr>
             </table>
    </div>
</div>
{% endblock %}
