/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration:none;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

:focus {
    outline: 0;
}
/* // Reset */

/* generales */

body{
   /* background:#f5f6f6 url(/files/imagen/fondo.png) repeat-y;*/
   background: url(/files/imagen/bg.jpg)repeat;
   
    font-family:Arial;
    color:#555753;
    font-size:14px;
   height:100%; /* Important */

}

p{line-height:1.3;}

.izq{float:left; padding-left: 10px;}
.der{float:right;}
.separador{clear:both;}

h2{
    font-size:22px;
    color:#2e3436;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;
}

.left {font-size: 14px;}
#marco{
    width:100%;
}

#sidebar{
    width:239px;
    float:left;
    background: url(/files/imagen/bgsidebar.png)repeat;
    border-right: solid 1px #48441A;
}

#cuerpo{
    float:left;
    width:100%;
}

.margen{
    padding:20px 15px 0px 15px;
    font-family: 'Open Sans', sans-serif;
}

#logo{
    width:239px;
    height:120px;
    color: #5c5447;
    background: #f6f7b5;
    
    border-bottom:#691f00 solid 1px;
}

#panel-front{ border-bottom:#bac5cd 1px solid;
    height:57px;}
#panel{
    padding-top: 20px;
    border-bottom:#bac5cd 1px solid;
    height:37px;
}

#panel a{
    padding-top:15px;
    display:block;
    float:left;
}

.titulo-general{
    font-size:23px;
    color:#000;
    margin-bottom:10px;
}
.main-text{ font-size:24px; text-align:left; padding-top: 15px;padding-left:10px;
     font-family: 'Open Sans Condensed', sans-serif;}

/* sidebar */

#menuside{
    background:#e7e885;
    padding-top: 5px;
    height: 30px;
    color: #5c5447;
}

#menuside a{
    display:block;
    width:109px;
    height:30px;
    float:left;
    color:#f5daa8;
    font-size:14px;
    line-height:30px;
    padding-left:10px;
    color: #5c5447;
}

/* Para formularios */

#id_username, #id_password, #id_nombre, #id_tipo, #id_municipio, 
#id_organizacion, #id_representante, #id_celular_repre, #id_correo_repre,
#id_gerente, #id_celular_gerente, #id_correo_gerente{
    width:250px;
    font-size:16px;
   /* background:#fff url(/files/imagen/fondotextfield.png) repeat-x;*/
    background-position: top left;
    height:20px;
    border: #b9c7e5 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    padding-left:5px;
    color:#626262;
    margin-bottom:8px;
}
#id_tipo, #id_municipio{height: auto;}
.textform{ text-align: left; padding-right: 10px; float: left;}
.boxdiv{float: left; padding: 10px;}
.text_hform{ font-size:14px; font-family:Arial;}

#id_pais{width:300px;}

 #id_descripcion{
    width:400px;
    float: left;
    font-size:16px;
   /* background:#fff url(/files/imagen/fondotextfield.png) repeat-x;*/
    background-position: top left;
    height:150px;
    border: #b9c7e5 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    padding-left:5px;
    margin-right: 500px;
    color:#626262;
    margin-bottom:10px;
}

label{
    font-size:14px;
    color:#9a9e94;
}

#agregar input{
   
    /*background:url(/files/imagen/guardar.jpg);*/
    width:115px;
    height:25px;
    margin-top: 20px;
    margin-left: 10px;
    float:left; background:#f2b40b;
    clear: both;
    color: #fff;
    border: #E2AC24 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
}
.boton_guardar{   }
.boton_new { width:110px;
    font-size: 14px;
    height:18px;
    padding-bottom: 15px;
    text-align: center;
    float:right; background:#E9A118;
    clear: left;
    color: #fff;
    border: #E2AC24 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;}
.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/files/imagen/warning.png');
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/files/imagen/error.png');
}


/* table */

.tabla table{
    background:#fff;
    width:100%;
    border-radius: 5px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    padding:10px;
    border-spacing: 0;
}

.tabla table th{
    color:#946145;
    border-bottom:#bac5cd 1px solid ;
        padding:4px;
    text-align:left;
}
.tabla table tr,.tabla table td{
    border-bottom:#bac5cd 1px solid ;
    border-collapse:collapse;
    padding:4px;
    color:#707c82;
    font-size:13px;
}
.tabla a{
    color:#4e8a91;
}

.group{
    background:#d3d7cf;
    border-radius: 5px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    margin: 10px 0px 0px 0px;
    padding:6px;
    color:#222628;
    font-size:14px;

}

.tabla a:hover{ color:#376166}
#usuario{
    color:#8e3d25;
    font-size:13px;
    margin-left:8px;
    float:left;
}

#tabladescrip table{
    width:100%;
    padding:10px;
    border-spacing: 0;
}

#tabladescrip table th{
    color:#000;
    border-bottom:#bac5cd 1px solid ;
        padding:4px;
    text-align:left;
}
#tabladescrip table tr,#tabladescrip table td{
    border-bottom:#bac5cd 1px solid ;
    border-collapse:collapse;
    padding:8px;
    color:#000;
    font-size:13px;
}

#tabladescrip a{
    color:#4e8a91;
    font-weight:bold;
    margin-bottom:10px;
}

#tabladescrip a:hover{
    color:#000;
}

#mail{
    color:#343a3d;
    font-size:13px;
    margin-left:8px;
    float:left;
}

#misorg{
    margin-top:20px;
    color:#fff;
    font-size:14px;
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}

#user-info a,#user-info a:visited{
    margin-top:5px;
    display:block;
    color:#000;
    font-size:13px;
    float:left;
    width:100%;
    background:#EEF5B0;
    border-radius: 3px;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    padding:3px;
}

#user-info a:hover{
    text-decoration:underline
}

#enlacefooter{
    font-size:12px;
    padding: 0px 20px 0px 20px;
    color:#524242;
}

#enlacefooter a{
    text-decoration:none;
    color:#fff;

}
